<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/projectdetail4.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Mizaria</title>
</head>
<body id="projectdetailbackground">
    <%- include('partials/navbar.ejs') %>
    <form action="/C219p"></form>
    <h1 id="processtitle">Showcase!</h1>
    

    <div class="container d-flex justify-content-center" id="projectouterbox">
        <div id="projectbox1">
            <h1 id="processminititle">Online Shop Mobile App Wireframe</h1>
            
            
            <div class="d-flex justify-content-center">
                <img id="projectdetailimg" src="/public/images/React.png" class="img-fluid" alt="Project 1" height="150"width='150'>
            </div>
            <h1 id="processminititle">Project 1 Pizza App Showcase</h1>
            <h5 id="processminititle">Click to link to video host server</h5>
            <div class="video-container">
                <a href="https://files.fm/f/998ah24dav" target="_blank">
                    <video width="600" controls>
                        <source src="https://files.fm/f/998ah24dav" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                </a>
            </div>
            
            
            
            
            <div id="projectpara">
                <h1 id="projecttitle">My Pizza Menu App</h1>
            </div>
            <div id="projectpara">
                <h5>This is a basic project i made when i learn React Ejs, where i utilise CSS,HTML and Javascript languages 
                    to create web Apps. This pizza menu app doesnt have much interaction, as it is more mainly to showcase
                    the CSS styles skills on alignments and cards.
             </h5>
            </div>
            <div class="d-flex justify-content-center">
                <img id="projectdetailimg" src="/public/images/C219 2.png" class="img-fluid" alt="Project 1" >
            </div>
            <div class="d-flex justify-content-center">
                <img id="projectdetailimg" src="/public/images/C219 3.png" class="img-fluid" alt="Project 1" >
            </div>
           
            <div id="projectpara">
                <h1 id="projecttitle">My Travel App</h1>
            </div>
            <h5 id="processminititle">Click to link to video host server</h5>
            <div class="video-container">
                <a href="https://files.fm/f/dkp53rx3yp" target="_blank">
                    <video width="600" controls>
                        <source src="https://files.fm/f/dkp53rx3yp" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                </a>
            </div>

            <div id="projectpara">
                <h5>A more Complex and interactive One paged app where user can add and delete items to their travel list,
                    mark as packed or unpacked, with a statistic below to display how much of the "travel items in list"are packed.
                </h5>
            </div>
            <div class="d-flex justify-content-center">
                <img id="projectdetailimg2" src="/public/images/C219 1.png" class="img-fluid" alt="Project 1">
            </div>
            <div id="projectpara">
                <h1 id="projecttitle">A partial code showcase</h1>
            </div>
            
            <div class="d-flex justify-content-center">
                <img id="projectdetailimg" src="/public/images/C219 4.png" class="img-fluid" alt="Project 1">
            </div>
            
        
            
            
        </div>
    </div>
</body>
</html>

