<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/projectdetail.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Mizaria</title>
</head>
<body id="projectdetailbackground">
    <%- include('partials/navbar.ejs') %>
    <form action="/C257p2"></form>
    <h1 id="processtitle" style="text-align: center;">Typography Design!</h1>


    <div class="container" id="projectouterbox">
        <div id="projectbox1">
            <div id="projectinnerback">
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/Typography1.png" class="img-fluid" alt="Project 1" height="150px" width="600px">
                </div>
                <h2 id="processminititle">My Design Rational</h2>
                <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                    <div class="container" id="projectpara">
                        <h5>-Emphasis: The word "Night" is greatly emphasized with its size as well as its unique design using Gaussian Blurs.</h5>
                    </div>
                    <div class="container" id="projectpara">
                        <h5>-Balance-Radial: The shape of this entire logo forms a Galaxy-like whirl shape/effect that is balanced in a radial manner.</h5>
                    </div>
                    <div class="container" id="projectpara">
                        <h5>-Unity: The design color of the logo follows the principle of unity by adhering to the standard color palette of purple and blue.</h5>
                    </div>
                    <div class="container" id="projectpara">
                        <h5>-Balance-Radial: The words as well as the lines are combined to form the shape of a whirlwind Galaxy-like design that reflects the theme of the logo "Night/space."</h5>
                    </div>
                    <div class="container" id="projectpara">
                        <h5>-Gestalt: Continuation: While applying the Proximity principle, the words and texts of two layers continue in a unified flow.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" id="projectouterbox">
        <div id="projectbox2">
            <div id="projectinnerback">
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/Typography2.png" class="img-fluid" alt="Project 2" height="150px" width="600px">
                </div>
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/Typography 3.png" class="img-fluid" alt="Project 2" height="150px" width="600px">
                </div>
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/Typography4.png" class="img-fluid" alt="Project 3" height="150px" width="600px">
                </div>
                <h2 id="processminititle2">More Color Schemes!</h2>
                <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                    <div class="container" id="projectpara">
                        <h5>After my original design, i had created 3 more versions with different Color Schemes but with the same typography logo!
                            Initially, i am skeptical about having color schemes i thought does not suits the logo, however soon 
                            I discovered each Color scheme style 's beauty and sense of variety after trying out and realised that i should be more open-minded 
                            with design and explore more! Within this project, i had used Monochromatic, Analogous and Complementary Color Scheme! '
                        </h5>
                    </div>
                    <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                        <div class="container" id="projectpara1">
                            <h5></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    

        
    

</body>
</html>
