<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/projectdetail.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Mizaria</title>
</head>
<body id="projectdetailbackground">
    <%- include('partials/navbar.ejs') %>
    <form action="/C257p"></form>
    <h1 id="processtitle" style="text-align: center;">Design Process!</h1>


    <div class="container" id="projectouterbox">
        <div id="projectbox1">
            <div id="projectinnerback">
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/Screenshot 2024-11-07 115404.png" class="img-fluid" alt="Project 1" height="150px" width="600px">
                </div>
                <h2 id="processminititle">My Moodboard And Theme</h2>
                <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                    <div class="container" id="projectpara">
                        <h5>-I chose this theme to reflect a "dark" and "futuristic" aesthetic, which I plan to carry through in the design of my website, stickers, and business cards. The color palette combines light gray and dark blue backgrounds to create a sophisticated, navy-futuristic feel. Accents of light blue and blue for fonts and design elements enhance the contrast, achieving a balanced and unified look. This theme embodies key design principles and Gestalt concepts, helping my work stand out with a unique, visually appealing style that resonates with both designers and non-designers alike. My Colour Scheme for my design theme is monochromatic, with the shades of blue consisting of majority of the Colour palette.Commonly used fonts? It is not always the uncommon and strange-looking fonts that will look good in design, more commonly seen and used fonts can be perfect for some great design theme!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" id="projectouterbox">
        <div id="projectbox2">
            <div id="projectinnerback">
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/C257-7.png" class="img-fluid" alt="Project 2" height="150px" width="600px">
                </div>
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/C257-8.png" class="img-fluid" alt="Project 2" height="150px" width="600px">
                </div>
                <h2 id="processminititle2">My Namecard and Logo</h2>
                <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                    <div class="container" id="projectpara">
                        <h5>-The design of my logo incorporates the Gestalt principles of closure and figure-ground, along with the design principles of emphasis and unity. The principle of closure is evident in the incomplete outlines of each letter in the logo name, inviting the viewer’s perception to complete the forms. Figure-ground is used with a faceless character that relies solely on the outline of hair to suggest the shape of a face, blending the figure into the background.</h5>
                    </div>
                    <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                        <div class="container" id="projectpara1">
                            <h5>-Emphasis is applied by making the logo name larger and uniquely designed to stand out from other text. Unity is achieved through a consistent color scheme, which ties together the logo and the entire business card design. On the front of the card, the principle of proportion is demonstrated by the cap positioned over the text box, contrasting with the buildings at the bottom of the card.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="container" id="projectouterbox">
        <div id="projectbox3">
            <div id="projectinnerback">
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/C257-5.png" class="img-fluid" alt="Project 3" height="150px" width="600px">
                </div>
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/C257-6.png" class="img-fluid" alt="Project 3" height="150px" width="600px">
                </div>
                <h2 id="processminititle">Sticker/Character</h2>
                <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                    <div class="container" id="projectpara">
                        <h5>-This character mascot design used for my sticker is greatly inspired by anime and specifically an anime character named "Esdeath". The final design of the character comes from after days and weeks of improvision where i constantly edit and modify the design till the submission date!The rationale behind my design vary between the stickers. Gestalt principle of Continuity on my chat stickers are greatly shown in chat Sticker 2 where my character brush seemed to draw a flowing path line that starts from the back and flow all the way to the front, which creates a “painting” kind of effect. </h5>
                    </div>
                    <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                        <div class="container" id="projectpara2">
                            <h5>-It is also shown in Sticker 3 and 5 where both can be seen to involve a “path” that flow in a direction base on what the character of the sticker is doing. Design principle of Unity is applied on all stickers as it follows the same color scheme and palatte all the way through to ensure consistency. Emphasis can be seen applied on all the main texts that convey the meaning of each stickers by giving either a glowing effect or big sized and anomalised compare to the surrounding design.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
    <div class="container" id="projectouterbox">
        <div id="projectbox3">
            <div id="projectinnerback">
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/C257-1.png" class="img-fluid" alt="Project 3" height="150px" width="600px">
                </div>
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/C257-2.jpg" class="img-fluid" alt="Project 3" height="150px" width="600px">
                </div>
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/C257-3.png" class="img-fluid" alt="Project 3" height="150px" width="600px">
                </div>
                <div class="col-md-10 d-flex justify-content-start align-items-center">
                    <img id="projectdetailimg" src="/public/images/C257-4.png" class="img-fluid" alt="Project 3" height="150px" width="600px">
                </div>
                <h2 id="processminititle">Portfolio Designr</h2>
                <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                    <div class="container" id="projectpara">
                        <h5>-Homepage- The Gestalt principle of Continuity and Design Principle of  Emphasis, Proportion and  Unity are used within my Portfolio Homepage.  Continuity can be seen when my character  paint brush draw a  curved line that flows from the star to the tip of the brush. Emphasis principle are seen on bigger and glowing  main texts such as “Welcome” and “logo UI designer” to allow reader to immediately get their attention on it. Proportion is specially applied on my Character vs the background of futuristic city buildings where the size are not relative to real life. Unity is fully applied as the entire page follows the color scheme to produce a perfect mixture and contrast of colors and patterns </h5>
                    </div>
                    <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                        <div class="container" id="projectpara3">
                            <h5>-Portfolio Page-  The Gestalt principle of Continuity and Design Principle of  Emphasis, Figure and Ground and  Unity are used within my Portfolio page.  Continuity can be seen when the “wire lines” flow from the top along the texts to the portfolio project cards to give the readers a direction to look from. Emphasis principle are seen on bigger and glowing  main texts such as “My Portfolio” so that reader instantly understands the page content will be about immediately. Figure and Ground had been applied when my 2 mirrored characters facing each other forms another background shape of a goblet/trophy which emphasise my work ‘s achievements . Unity is fully applied as the entire page follows the color scheme to produce a perfect mixture and contrast of colors and patterns</h5>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                        <div class="container" id="projectpara4">
                            <h5>-About me Page-  The Gestalt principle of Proximity and Design Principle of  Emphasis and  Unity are used within my Portfolio About Me page.  Proximity can be seen applied to the background of the page, where multiple triangles are used with same gradient in different direction to create a pattern -like proximity designto make the background less plain and more “designer” style. Emphasis principle are seen on bigger and glowing  main texts such as “Who AmI” which will immediately capture the reader’s attention to read on.  Unity is fully applied as the entire page follows the color scheme to produce a perfect mixture and contrast of colors and patterns</h5>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center" id="projectdetailed">
                        <div class="container" id="projectpara5">
                            <h5>-Contact Page-  The Gestalt principle of Proximity and Design Principle of  Emphasis and  Unity are used within my Portfolio Contact page.  Proximity can be seen applied to the background of the page, where multiple triangles are used with same gradient in different direction to create a pattern -like proximity designto make the background less plain and more “designer” style. Emphasis principle are seen on bigger and glowing  main texts such as “Who AmI” which will immediately capture the reader’s attention to read on.  Unity is fully applied as the entire page follows the color scheme to produce a perfect mixture and contrast of colors and patterns</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

    