<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/projectdetail3.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Mizaria</title>
</head>
<body id="projectdetailbackground">
    <%- include('partials/navbar.ejs') %>
    <form action="/C257p3"></form>
    <h1 id="processtitle" style="text-align: center;">Character Design!</h1>

    <div class="container" id="projectouterbox">
        <div id="projectbox1">
            <h2 id="processminititle">My Character Design Gallery</h2>
            <!-- Images Container -->
            <div id="image-container">
                <img id="projectdetailimg" src="/public/images/Albedra.png" class="img-fluid" alt="Albedra">
                <img id="projectdetailimg" src="/public/images/Chlorina.png" class="img-fluid" alt="Chlorina">
                <img id="projectdetailimg" src="/public/images/Yoru.png" class="img-fluid" alt="Yoru">
                <img id="projectdetailimg" src="/public/images/Xian Yun.png" class="img-fluid" alt="Xian Yun">
            </div>
            <!-- Paragraph Below Images -->
            <div id="projectpara">
                <h5>Here are my character designs! A note to start of is there are minor help using the Illustrator 's generative AI involved. Such as complex accessories like necklace or portions of some character 's hair. 
                    This project is a class work done which not only involves knowing how to draw a set of characters using my own skill but 
                    utilise the Illustrator AI to make my progress easier and faster!
                </h5>
                <h2 id="processminititle">My Characters</h2>
                <h5>As a practice on drawing any kind of mascot/characters using illustrator, i had chosen my favourite Anime
                    character style. When making these set of characters, i ensure that while the gender remain consistent, the design, theme and even race (skintones)
                    are vast and unique! For example Albedra is a slighted tanned skin Fantasy demon girl design while Yoru is a dark skinned Cyberpunk themed girl. 
                    Practicing making these characters served as an important experience and foundation towards making the Mizaria Mascot character for my Final Illustrator GA design!
                    After looking back ,I had found them a small project/work worthy of being shown on the portfolio to display more of my illustrator skills.
                </h5>
                
            </div>
        </div>
    </div>
    


    

    
    

        
    

</body>
</html>
