<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/projectdetail2.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Mizaria</title>
</head>
<body id="projectdetailbackground">
    <%- include('partials/navbar.ejs') %>
    <form action="/C337p"></form>
    <h1 id="processtitle">Showcase!</h1>

    <div class="container d-flex justify-content-center" id="projectouterbox">
        <div id="projectbox1">
            <h1 id="processminititle">Video Escape Room Showcase</h1>
            <div class="d-flex justify-content-center">
                <img id="projectdetailimg" src="/public/images/Screenshot 2024-11-08 194028.png" class="img-fluid" alt="Project 1">
            </div>
            <h1 id="processminititle">Video Escape Room Showcase</h1>
            <h5 id="processminititle">Click to link to video host server</h5>
            <div class="video-container">
                <a href="https://files.fm/f/kfaj5mk3r9" target="_blank">
                    <video width="600" controls>
                        <source src="https://files.fm/f/kfaj5mk3r9" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                </a>
            </div>
            
            
            
            
            <div id="projectpara">
                <h1 id="projecttitle">Why This Theme?</h1>
            </div>
            <div id="projectpara">
                <h5>I had always loved the theme of futuristic and Cyber-punk. On top of my great interest and love in Anime and storylines, I want my escape room to be a unique and entertaining for all players. My VR game which is called: “ X-Chrono Edge-runner” is a futuristic sci-fi thrilling themed escape room that involves the element of Cyberpunk and Immersive Thrill that requires quick decision-making in order to get out alive. [You have been captured and placed in a top-secret cyber laboratory, but the twist is that a Time-Controlling device that had been activated by the scientists malfunctioned and the count down to the time stop can’t be stopped! Leaving you behind, the scientists activated the Room lockdown which seal the time effect of the machine just within that room and escaped, leaving you only a limited amount of time to escape before the TIME within the room got stopped! Either Escape alive or be frozen in time for eternity, will be up to your skills and speed!] This is a simple but unique plot behind the Escape room I had came up with, the name inspired by 2077 CyberPunk Edgerunner Anime , and the idea of time coming from the cyber-part within the Anime and Cyberpunk Game that accelerate time around you and attack before the enemies could react, but I made it a complete different new idea and concept that can be applied in an Escape room. Thank you for trying out the game!</h5>
            </div>
            <div id="projectpara">
                <h1 id="projecttitle">A Panoramic Sketch </h1>
            </div>
            <div id="projectpara">
                <h5>A Panoramic Sketch of my ideals before starting the project</h5>
            </div>
            <div class="d-flex justify-content-center">
                <img id="projectdetailimg2" src="/public/images/C337-special1.png" class="img-fluid" alt="Project 1">
            </div>
            <div id="projectpara">
                <h1 id="projecttitle">Selling Points?</h1>
            </div>
            <div id="projectpara">
                <h5>The Unique Selling Points of my VR game “X-Chrono Edge-runner” is that within the Laboratory, there are multiple layers of rooms and vaults which all the safe doors and entrances are locked down. Each Room are considered a “level” and the way to get out of them are each different and unique that will require a player to use his/her brain and act fast to find the key or code to opening and unlocking each entrance. Some rooms entrance might even require more than one “key” that can be found or created in the room itself! One cannot rely on a pattern or trend of previous rooms to solve and unlock the following as every one of them have a vastly different way to unlock! Each will also be more difficult than the previous. Therefore, beside using your brain, teaming up with another player (max 2) will greatly increase the chance and your speed of escaping the room! If you want to test your limits, try to escape all by yourself! If not, learn the importance of teamwork and coordination among others to escape together!</h5>
            </div>
            <div id="projectpara">
                <h1 id="projecttitle">Gameplay Scope</h1>
            </div>
            <div id="projectpara">
                <h5>-	How long is the game?
                    The Game can be around 15-30 minutes long. Due to the limited skills I have learned I aimed to learn more and be more improvised, I believe an escape room with the puzzles being at the basic level with 3-4 levels will only around 15 minutes to 30 minutes. Each levels (rooms) consist of Multiple Puzzles where they need to be unlocked and solved in the right order to solve the next puzzle and clear the room. Some puzzles require hints where some hints are as simple as hidden away in the room while some may require mini puzzle solved to find the hint. Each Room may take around Several minutes, as difficulty gets harder for each puzzle, the time taken should increase. Estimate:
                     1st room- 7 mins
                    2nd room – 7-8 mins
                    3rd room – 8-10 mins
                    If every room takes the maximum estimated time, a player will fail to escape and be frozen in time(die) 
                    -	How many levels are there?
                    -	What is the average playtime?
                    Average play time should is around 15-30 minutes
                    -	What are the objectives?
                    The objectives of the game is for players to be flexible and think of all the possibilities the key or code could be hidden or crafted/formed to unlock the game and not be inflexible and overly Logical while feeling the thrill of racing against literal time itself to escape the room.
                    </h5>
            </div>
            <div id="projectpara">
                <h1 id="projecttitle">Art Style</h1>
            </div>
            <div id="projectpara">
                <h5>
                    My VR Rooms and objects art style will be decently realistic. However as realistic as it is, it will not be too realistic and primarily relies on clean, minimalist design with a focus on clarity and functionality rather than elaborate visuals. The overall description for my VR game art style is that it has minimal the complexity and details of the objects design. Example of my art style will be like the bottom left photo below	
                </h5>
            </div>
            <div id="projectpara">
                <h1 id="projecttitle">Player Profile Stories[How would they approach the game?]</h1>
            </div>
            <div id="projectpara">
                <h5>
                    A dedicated Gamer player may find this kind of Escape room game exciting on first try, being able to compete with other gamers on who being the fastest to escape it and boast about it which Is a big part of their personality trait. However, this may only last for one or two times for a dedicated gamer as playing the same Escape room game again will get repetitive and cause them to quickly lose interest.
A play to win gamer is actually one of the more targeted audience of my VR game as they tend to be not only competitive, but focused, which is one of the main factor to win this my escape room game. As they are focused, they will constantly be thinking about the puzzles and searching for the keys to escape as fast as possible. They are also determined, meaning they will likely not give up halfway in the game and will keep trying till they escape it, no matter how many tries it takes.
Participant Parents are an unique yet encouraged players to try out and play my escape room game with their kids or one another. As a parent playing and competing with their own children will mean my VR game get to serve as a form of entertainment for a whole family to spend time together. A parent can also brainstorm and teamwork together with their children to help each other escape the Escape Room together, which serves one of my game concepts of “Teamwork”.
A story seeker is another one of my targeted audiences for my VR escape room game. One of my main selling points of the game is based on its origin storyline that pique players interest and immerse themselves in the escape room and try to escape the lab before the malfunctioned time device stops time within the room. A story seeker will definitely be attracted to the VR game upon finding out that there is a story behind it. Story seekers enjoy reading and especially experiencing through the story themselves, therefore my VR game that consist of a storyline /lore behind the VR escape room process will be sure to attract many story seekers compare to other players types.

                </h5>
            </div>
            <div id="projectpara">
                <h1 id="projecttitle">FlowChart Room1</h1>
            </div>
            <div class="d-flex justify-content-center">
                <img id="projectdetailimg" src="/public/images/flowchart1.png" class="img-fluid" alt="Project 1">
            </div>
            <div id="projectpara">
                <h1 id="projecttitle">FlowChart Room2</h1>
            </div>
            <div class="d-flex justify-content-center">
                <img id="projectdetailimg" src="/public/images/flowchart2.png" class="img-fluid" alt="Project 1">
            </div>
            <div id="projectpara">
                <h1 id="projecttitle">FlowChart Room3</h1>
            </div>
            <div class="d-flex justify-content-center">
                <img id="projectdetailimg" src="/public/images/flowchart3.png" class="img-fluid" alt="Project 1">
            </div>
        </div>
    </div>
</body>
</html>

