#contactmetext {
    color: black;
    
    
    font-family: "Copperplate", fantasy;
    opacity: 0; 
    transform: translateX(-100%); 
    animation: slide-in 1s ease-out forwards; 
    animation-delay: 0.5s; 
    
}


.space {
    display: inline-block; 
    width: 15px;
}


@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
#contactbackground {
    background: url('/public/images/f732b0f445d3fec8d1e9109eefa26817.jpg') no-repeat;
 }
 #icon-container {
    display: flex;
    justify-content: center; 
    gap: 80px;
    padding: 10px; 
}

.icons {
    object-fit: contain; 
    max-width: 300px; 
    height: auto; 
    transition: transform 0.3s ease; 
}

.icons:hover {
    transform: scale(1.1); 
}


