
#frontbackground {
    background: url('/public/images/frontwallpaper2.png') no-repeat center center;
    background-size: 1200px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#back {
    background: url('/public/images/f732b0f445d3fec8d1e9109eefa26817.jpg') no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 90vh;
}

#backbackground {
    background-color: aquamarine;
}


#Mizaria, #Portfolio {
    font-family: "Copperplate", fantasy;
    color: black !important;  
    margin-bottom: 10px;
    display: inline-block;
}


h1 span {
    opacity: 0;
    animation: fade-in 1s forwards;
    display: inline-block;
    color: black !important;  
}



@keyframes fade-in {
    to {
        opacity: 1;
    }
}


#Mizaria span:nth-child(1) { animation-delay: 0s; }
#Mizaria span:nth-child(2) { animation-delay: 0.1s; }
#Mizaria span:nth-child(3) { animation-delay: 0.2s; }
#Mizaria span:nth-child(4) { animation-delay: 0.3s; }
#Mizaria span:nth-child(5) { animation-delay: 0.4s; }
#Mizaria span:nth-child(6) { animation-delay: 0.5s; }
#Mizaria span:nth-child(7) { animation-delay: 0.6s; }


#Portfolio span:nth-child(1) { animation-delay: 0.9s; }
#Portfolio span:nth-child(2) { animation-delay: 1s; }
#Portfolio span:nth-child(3) { animation-delay: 1.1s; }
#Portfolio span:nth-child(4) { animation-delay: 1.2s; }
#Portfolio span:nth-child(5) { animation-delay: 1.3s; }
#Portfolio span:nth-child(6) { animation-delay: 1.4s; }
#Portfolio span:nth-child(7) { animation-delay: 1.5s; }
#Portfolio span:nth-child(8) { animation-delay: 1.6s; }
#Portfolio span:nth-child(9) { animation-delay: 1.7s; }
#Portfolio span:nth-child(10) { animation-delay: 1.8s; }
#Portfolio span:nth-child(11) { animation-delay: 1.9s; }
#Portfolio span:nth-child(12) { animation-delay: 2s; }
#Portfolio span:nth-child(13) { animation-delay: 2.1s; }
#Portfolio span:nth-child(14) { animation-delay: 2.2s; }
#Portfolio span:nth-child(15) { animation-delay:2.3s; }
#Portfolio span:nth-child(16) { animation-delay:2.4s; }

#Enterbutton {
    color: aquamarine;
    background-color: black;
    font-family: "Copperplate", fantasy;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 1s ease-in; 
    animation: button-fade-in 1s forwards;
    animation-delay: 3s; 
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 8px;
}


@keyframes button-fade-in {
    to {
        opacity: 1;
    }
}
.space {
    display: inline-block; 
    width: 15px; 
}

#frontlogo{
    height: 200px;
    width: 200px;
     
}

